
<div class="password-conteiner">
  <h1>Change Password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <div>
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" formControlName="password">
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword">
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <button (click)="close()">Cancelar</button>
    <button type="submit">Confirmar</button>
  </form>
  <div *ngIf="error">{{ error }}</div>
</div>
