
<div class="password-conteiner">
  <h1 class="title">Change Password</h1>
  <form [formGroup]="passwordForm" (ngSubmit)="changePassword()" class="inputs">
    <div class="input">
      <label for="currentPassword" class="label">Current Password</label>
      <input type="password" id="currentPassword" formControlName="password">
    </div>
    <div class="input">
      <label for="newPassword" class="label">New Password</label>
      <input type="password" id="newPassword" formControlName="newPassword">
    </div>
    <div class="input">
      <label for="confirmPassword" class="label">Confirm Password</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword">
    </div>
    <div class="btns">
      <button (click)="close()" class="button-primary-outline">Cancelar</button>
      <div *ngIf="error" class="error">{{ error }}</div>
      <button type="submit" class="button-primary">Confirmar</button>
    </div>
  </form>
</div>
