<header>
  <div class="header-default" [routerLinkActive]="['header-selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['']">
      Relatórios
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['header-selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['']">
      Usuários
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['header-selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['']">
      Livros
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['header-selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['']">
      Minha conta
    </a>
  </div>
</header>

