<header>
  <div class="header-default" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['/relatorio']">
      Relatórios
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['/usuarios']">
      Usuários
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['/livros']">
      Livros
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['/termo']">
      Termos
    </a>
  </div>
  <div class="header-default" [routerLinkActive]="['selected']" [routerLinkActiveOptions]="{ exact:true }" >
    <a [routerLink]="['/conta']">
      Minha conta
    </a>
  </div>
</header>

