<div class="content">
  <svg width="1661" height="704" viewBox="0 0 1661 704" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 317.5C0 317.5 361.204 300.6 530 450C698.796 599.4 993.644 704 1173 704C1475.5 704 1660.65 554.5 1660.65 554.5V224.965V0H858.648H0V317.5Z" fill="#BABDD3"/>
  </svg>
  <div class="text">
    <h1>404</h1>
    <h2>Ops! Parece que essa PÁGINA não existe.</h2>
    <button (click)="back()" class="button-primary">Voltar a PÁGINA</button>
  </div>
  <img src="../../../assets/images/Hero.png" alt="Duas pessoas sentadas em pilhas gigantes de livros lendo" class="hero">
</div>
