<div class="content">
  <svg width="1661" height="704" viewBox="0 0 1661 704" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 317.5C0 317.5 361.204 300.6 530 450C698.796 599.4 993.644 704 1173 704C1475.5 704 1660.65 554.5 1660.65 554.5V224.965V0H858.648H0V317.5Z" fill="#BABDD3"/>
  </svg>
  <div>
    <img src="../../../assets/images/Hero.png" alt="duas pessoas lendo" class="hero">
  </div>
  <div class="log">
    <img src="../../../assets/images/logo.png" alt="Logo da Página" class="logo">
    <h1 class="title">Área de Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
      <div class="input">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="admin@email.com">
      </div>
      <div class="input">
        <label for="senha">Senha</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Insira sua senha">
      </div>
      <div class="btn">
        <button type="submit" class="button-primary">Entrar</button>
      </div>
    </form>
    <div *ngIf="error">{{ error }}</div>
  </div>
</div>
