h2{
  margin: 0%;
}

.logout-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.negrito{
  font-weight: 600;
}
