<div class="content">
  <h2 class="title">
    Deletar livro?
  </h2>
  <div class="text">
    <span>
      Você tem certeza que deseja deletar o livro
    </span>
    <div class="identificacao">
      <span class="nome-livro">
        {{ livro!.liv_Titulo }}
      </span>
      <span class="oculto">
        {{ livro!.liv_ISBN }}
      </span>
    </div>
    <span class="error">
      Essa ação não pode ser desfeita.
    </span>
  </div>

  <div class="actions">
    <button (click)="closeModal()" class="button-primary-outline">Cancelar</button>
    <div class="error">
      {{ error }}
    </div>
    <button (click)="deleteLivro()" class="button-primary">Sim, deletar</button>
  </div>
</div>
