@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --azul-claro: #4e90cd;
  --bage-claro: #EFEBE4;
  --roxo-claro: #4F5071;
  --roxo-escuro: #1F1D34;
  --preto: #14131A;
  --branco: #F6F5F2;
  --amarelo: #F3E140;
  --vermelho: #CD4E4E;
  --verde: #4ECD72;
}

body{
  margin: 0%;
}

body *{
  font-family: "Poppins";
}

a{
  text-decoration: none;
}

.button-primary{
  transition: 0.5s;
  background-color: var(--azul-claro);
  color: var(--branco);
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 12rem;
}

.button-primary-outline{
  transition: 0.5s;
  background-color: transparent;
  color: var(--azul-claro);
  border: 2px solid var(--azul-claro);
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 12rem;
}

.button-primary-outline:hover{
  transition: 0.5s;
  background-color: var(--azul-claro);
  color: var(--branco);
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 12rem;
}

.button-primary:hover{
  transition: 0.5s;
  background-color: transparent;
  color: var(--azul-claro);
  border: 2px solid var(--azul-claro);
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 12rem;
}

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  width: 50%;
  height: 70%;
  background: var(--branco);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

/* error */
.error{
  color: var(--vermelho);
  font-weight: 600;
}
