<app-header></app-header>

<div class="content">
  <div class="avatar">
    <img [src]="avatar"  alt="Avatar">
  </div>
  <div class="inputs">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="buttons">
    <button class="btn btn-primary"> <i class="ri-edit-line"></i> Alterar</button>
    <button class="btn btn-danger"> <i class="ri-logout-box-r-line"></i> Sair</button>
  </div>
</div>
